// human example params from doi:10.1371/journal.pgen.1009676
initialize() {
    defineConstant("muttime", 1000); // time mutations arise
    defineConstant("haptime", 6700); // generations after mutations where four haps must be present
    defineConstant("Na", 10000); // starting population size
    defineConstant("K", 10);
    defineConstant("B_t", 7);
    defineConstant("N0", 20); // population size today np.exp(np.random.uniform(np.log(Na), np.log(20*Na), n_draws)).astype(int)
    initializeTreeSeq(checkCoalescence=T);
    initializeMutationRate(0);
    initializeMutationType("m1", 0.5, "f", 0.0);         // neutral "f"ixed DFE
    initializeMutationType("m2", 0.5, "f", 0.0);         // neutral "f"ixed DFE
    initializeMutationType("m4", 0.5, "f", sel_coeff); // 0.001 average human beneficial s
    // Keep fixed mutations for visual inspection (slows down performance)
    m1.convertToSubstitution = F;
    m4.convertToSubstitution = F;
    initializeGenomicElementType("g1", c(m1), c(1.0));
    initializeGenomicElement(g1, 0, 9999999);
    initializeRecombinationRate(1.0e-8);
    m4.color = "green";
}

1 {
defineConstant("simID", getSeed());
sim.addSubpop("p1", Na);
sim.rescheduleScriptBlock(s1, start=2000, end=Tgen+1999);
sim.rescheduleScriptBlock(s2, start=Tgen+1999, end=Tgen+2000); 
}

1999 late() {
target1 = sample(p1.genomes, 1); // Increase number genomes mutated to increase prob of fixation
target1.addNewDrawnMutation(m4, 5000000); // Beneficial mutation at position 
pos_mut = sim.mutationsOfType(m4);
sim.outputFull("/tmp/slim_" + simID + ".txt");
}

s1 late() {
pos_mut = sim.mutationsOfType(m4);
cat(sim.mutationFrequencies(p1, sim.mutationsOfType(m4))+"\n");
if (pos_mut.size() != 1) 
{
cat(simID + ": LOST HAP - STOP SIMULATION\n");
sim.simulationFinished();
}
else
{
if (sim.mutationFrequencies(p1, sim.mutationsOfType(m4)) >= ((end_freq)))
{
cat("Reached End Freq\n");
sim.treeSeqOutput(OutTree);
sim.simulationFinished();
}
}
}

s2 late() {
sim.simulationFinished();
}
